.footerdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 98%;
  border: 1px solid #dddddd;
  margin-top: 10px;
  margin-left: 12px;
}

.footerbtn {
  border: 1px solid #dddddd;
  background-color: white;
  margin-right: 6px;
  border-radius: 2px;
}

.footerbtn:hover {
  cursor: pointer;
}

.active {
  background-color: bisque;
  translate: 0px -5px;
  transition-duration: 0.5s;
}
