.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.input {
  padding: 8px;
  border-radius: 4px;
  width: 65%;
  border: 1px solid #dddddd;
}

.form {
  padding: 10px;
  width: 30%;
}
