.pagemessage {
  border: 1px solid #dddddd;
  height: 75%;
  width: 98%;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: aliceblue;
}
