.table {
  border: 1px solid #c6b3b3;
  width: 98.5%;
  border-radius: 2px;
  margin-left: 10px;
  padding: 2px;
}

.tableheader {
  color: lightslategrey;
  font-weight: 600;
}

.tablerow {
  height: 46px;
  width: 100px;
  transition-duration: 1s;
}

.tablerowactive {
  background-color: lightsteelblue;
}

.tabledata {
  border: 1px solid #c6b3b3;
  text-align: center;
}

.btn {
  border: 1px solid #c6b3b3;
  background-color: white;
}
